---
// Navigation Links
interface Props {
  items: object[],
  class?: string
}
const { items, class: classNames } = Astro.props
---
<ul id="menu" class:list={classNames}>
  {
    items?.map( (item: any) => (
    <li>
      <a href={"/" + item.slug}
          class="block py-2 pl-3 pr-4 rounded lg:bg-transparent  lg:p-0 text-center hover:text-brand-yellow"
          aria-current="page">{item.title}</a>
    </li>
    ))
  }
</ul>