---
// Logo Area for Nav
import { Image } from 'astro:assets';
import LogoImg from '../../assets/75yrFootings-logo.svg'
const {title, imgOnly, class: classNames} = Astro.props
const srOnly = imgOnly ? 'sr-only' : '' 
---
<a href="/" class:list={classNames}>
  <Image 
    src={LogoImg}
    width="300"
    class="lg:inline"
    alt="75yr Footings Logo"
  />
  <span 
  class:list={["self-center text-2xl font-semibold whitespace-nowrap", srOnly]}
  >
    {title}
  </span>
</a>